*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}
h1{
  margin: 0 !important;
}
.n-green{
  background-color:#26A69A;
}
.c-n-green{
  color:#26A69A;
}
.full-screen{
  min-height: 100%;
  height: auto;
}
.p-top{
  padding-top: 80px;
}
.photo{
  background-image: url(http://content.finda.photo/unsplash/p-bkdO43shE.jpg);
  background-size: 100%;
  background-position: center;
}
.photo-center{
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
}
.element-2{
  color: white;
}
.fixed{
  z-index: 999999999999999;
  position: fixed;
}
